body {
  font: 1rem 'Fira Sans', sans-serif;
}
ul li {
  list-style-type: circle;
  margin-bottom: .5rem;
}

ul li li {
  list-style-type: square;
  margin-bottom: .5rem;
}

ol li {
  margin-bottom: .5rem;
}

span.summary {
  font-size: .75rem;
}

.picture {
  width: 250px;
  height: 250px;
}
